input[type="button"] {
    border-radius: 25%;
    border: none;
    width: 24px;
    height: 24px;
    margin: 2px;
    background-color: aliceblue;
    box-shadow: 0 1px 3px rgba(0,0,0,0.125);
}

input#show {
    border-radius: 3px;
    border: 2px solid seagreen;
    border-top-color: darkgreen;
    background-color: darkseagreen;
    color: darkslategrey;
    margin: 0 2px 8px;
    width: 112px;
    box-shadow: 0 -2px 0 seagreen;
}

body>div {
    background-color: cadetblue;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    border-width: 4px;
    border-style:solid;
    border-color: cadetblue;
    border-top-color: lightblue;
    border-bottom-color: steelblue;
}

input[value="="] {
    color: orange;
    background-color: midnightblue;
}